{% extends 'app/base.html' %}
{% load static %}
{% block title %}Add Address{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn">My Addresses</a></li>
    <li class="d-grid"><a href="{% url 'orders' %}" class="btn">My Order</a></li>
    <li class="d-grid"><a href="{% url 'changepassword' %}" class="btn">Change Password</a></li>
   </ul>
  </div>
  <div class="col-sm-6 offset-sm-2">
    {% for message in messages %}
   <p {% if message.tags %} class="text-center text-white bg-success alert alert-{{message.tags}}"{% endif %}>{{message}}</p>
    {% endfor %}
      <h3 class="text-center alert bg-primary text-white">Add New Address</h3>
   <form action="" method="post" novalidate>
    {% csrf_token %}
    {% for fm in form %}
    <p>{{fm.label_tag}} {{fm}}   <small class="text-warning">{{fm.errors|striptags}}</small></p>
    {% endfor %}
    <input type="submit" class="btn btn-primary my-3" value="Submit">
    <a class="btn btn-success" href="{% url 'address' %}">Back</a>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}