{% extends 'app/base.html' %}
{% load static %}
{% block title %}Bottom Wears{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
     <!-- Side Bar for Mobile filter -->
  <div class="col-sm-3">
      <div class="card">
          <div class="card-body">
            <div class="list-group">
                <a href="{% url 'bottomwear' %}" class="list-group-item list-group-item-action" aria-current="true">All Jeans</a>
            </div>
            <div class="list-group my-1">
              <a href="{% url 'bottomweardata' 'below' %}" class="list-group-item list-group-item-action" aria-current="true">Below 1500</a>
          </div>
          <div class="list-group my-1">
              <a href="{% url 'bottomweardata' 'above' %}" class="list-group-item list-group-item-action" aria-current="true">Above 1500</a>
          </div>
          <div class="list-group my-1">
              <a href="{% url 'bottomweardata' 'Lee' %}" class="list-group-item list-group-item-action" aria-current="true">Lee</a>
          </div>
          <div class="list-group my-1">
              <a href="{% url 'bottomweardata' 'Spyker' %}" class="list-group-item list-group-item-action" aria-current="true">Spyker</a>
          </div>
          <div class="list-group my-1">
              <a href="{% url 'bottomweardata' 'Pepe_Jeans' %}" class="list-group-item list-group-item-action" aria-current="true">Pepe Jeans</a>
          </div>
          </div>
      </div>
  </div>
  <div class="col-sm-9">
   <!-- Mobile Product List -->
   <div class="card">
       <div class="card-body">
        <div class="row">
            {% for product in bottomwear %}
            <div class="col-sm-4 text-center mb-4">
                <a href="{% url 'product-detail' product.id %}" class="btn">
                <div class="item">
                    <img class="img-thumbnail" src="{{product.product_image.url}}" height="300" alt="">
                    <div class="fw-bold">{{product.title}}</div>
                    <div class="fw-bold"><span>&#8377;</span>{{product.discount_price|floatformat:"-3g"}}
                    <small class="fw-light text-decoration-line-through"><span>&#8377;</span>{{product.price|floatformat:"-3g"}}</small></div>
                </div>
                </a>
             </div>
            {% endfor %}
        </div>
       </div>
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}