{% extends 'app/base.html' %}
{% load static %}
{% block title %}Orders{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn {{active}}">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn">My Addresses</a></li>
    <li class="d-grid"><a href="{% url 'orders' %}" class="btn btn-primary"> My Orders</a></li>
    <li class="d-grid"><a href="{% url 'changepassword' %}" class="btn">Change Password</a></li>
   </ul>
  </div>
  <div class="col-sm-8 offset-sm-1">
    <h3 class="text-primary">My Orders</h3>
    <hr>
      {% if order_placed %}
      {% for op in order_placed %}
   <div class="row shadow-sm mb-3">
       <div class="col-sm-2 p-2">
           <img src="{{op.product.product_image.url}}" class="img-fluid" height="150" width="150" alt="" srcset="">
        </div>
        <div class="col-sm-7">
            <p class="fw-bold">{{op.product.title}}</p>
            <p><strong>Quantity: </strong>{{op.quantity}}</p>
            <p><strong>Price: </strong> <span>&#8377;</span>{{op.product_cost}}</p>
        </div>
        <div class="col-sm-3">
            <p><strong>Order Status:</strong> {{op.status}}</p>
            <p><strong>Order Date:</strong> {{op.order_date}}</p>
            {% if op.status == 'Accepted' %}
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            {% endif %}

            {% if op.status == 'Packed' %}
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            {% endif %}

            {% if op.status == 'Shipped' %}
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            {% endif %}

            {% if op.status == 'On The Way' %}
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            {% endif %}

            {% if op.status == 'Delivered' %}
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            {% endif %}

            {% if op.status == 'Cancelled' %}
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            {% endif %}
        </div>
   </div>
   {% endfor %}
   
   {% else %}
   <h3 class="text-center ">You Have No Orders right now </h3>
   {% endif %}
  </div>
 </div>
</div>
{% endblock main-content %}