{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Form{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
   <div class="col-sm-6 offset-sm-3">
       <h2 class="text-center text-danger">Password Reset</h2>
       <hr>
    <form action="" method="post" novalidate class="shadow p-5">
        {% csrf_token %}
        {% for fm in form %}
        <p>{{fm.label_tag}} {{fm}} <small class="text-warning">{{fm.errors|striptags}}</small></p>
        {% endfor %}
        <input type="submit" class="btn btn-success my-3" value="Reset">
      </form>
   </div>
  </div>
 </div>
{% endblock main-content %}